@model PatientAddViewModel
@inject hospitaldbContext _db

<div class="container">
    <h1 class="text-center">Добавление нового пациента</h1>

    <form asp-action="AddPatient" method="post">
        <div class="form-group">
            <label asp-for="FirstName">Имя</label>
            <input class="form-control" asp-for="FirstName">
        </div>
        <div class="form-group">
            <label asp-for="LastName">Фамилия</label>
            <input class="form-control" asp-for="LastName">
        </div>
        <div class="form-group">
            <label asp-for="MiddleName">Отчество</label>
            <input class="form-control" asp-for="MiddleName">
        </div>
        <div class="form-group">
            <label asp-for="Age">Возраст</label>
            <input class="form-control" asp-for="Age">
        </div>
        <div>
            <label asp-for="Sex">Пол</label>
            <select class="form-select" asp-for="Sex" asp-items="new SelectList(new List<char>() {'М', 'Ж'})">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="InsuranceNumber">Номер полиса</label>
            <input class="form-control" asp-for="InsuranceNumber">
        </div>
        <div class="form-group">
            <label asp-for="PassportSeries">Серия паспорта</label>
            <input class="form-control" asp-for="PassportSeries">
        </div>
        <div class="form-group">
            <label asp-for="PassportNumber">Номер паспорта</label>
            <input class="form-control" asp-for="PassportNumber">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

