@model IEnumerable<Department>
@inject hospitaldbContext _db

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var corp in Model)
            {
                <tr>
                    <th scope="row">@corp.Id</th>
                    <td>@corp.Title</td>
                    <td>@corp.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Отделов нет в базе данных</h3>
}